# Collaborative Movie Recommendation

[Code Heroku](https://www.youtube.com/watch?v=3ecNC-So0r4&t=528s)

## Toy Dataset

In [1]:
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse
import pandas as pd

In [2]:
ratings = pd.read_csv('data/toy_dataset.csv')
ratings

  Unnamed: 0  action1  action2  action3  romantic1  romantic2  romantic3
0     user 1      4.0      5.0      3.0        NaN        2.0        1.0
1     user 2      5.0      3.0      3.0        2.0        2.0        NaN
2     user 3      1.0      NaN      NaN        4.0        5.0        4.0
3     user 4      NaN      2.0      1.0        4.0        NaN        3.0
4     user 5      1.0      NaN      2.0        3.0        3.0        4.0

make the first columns as index 1

In [3]:
ratings = pd.read_csv('data/toy_dataset.csv', index_col=0)
ratings

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        NaN        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        NaN
user 3      1.0      NaN      NaN        4.0        5.0        4.0
user 4      NaN      2.0      1.0        4.0        NaN        3.0
user 5      1.0      NaN      2.0        3.0        3.0        4.0

remove all null falues

In [4]:
ratings = pd.read_csv('data/toy_dataset.csv', index_col=0)
ratings = ratings.fillna(0)
ratings

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        0.0        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        0.0
user 3      1.0      0.0      0.0        4.0        5.0        4.0
user 4      0.0      2.0      1.0        4.0        0.0        3.0
user 5      1.0      0.0      2.0        3.0        3.0        4.0

In [5]:
def standardize(row):
    new_row = (row - row.mean()) / (row.max() - row.min())
    return new_row

ratings_std = ratings.apply(standardize)
ratings_std

        action1  action2   action3  romantic1  romantic2  romantic3
user 1     0.36      0.6  0.400000      -0.65      -0.08      -0.35
user 2     0.56      0.2  0.400000      -0.15      -0.08      -0.60
user 3    -0.24     -0.4 -0.600000       0.35       0.52       0.40
user 4    -0.44      0.0 -0.266667       0.35      -0.48       0.15
user 5    -0.24     -0.4  0.066667       0.10       0.12       0.40

angular distances

In [7]:
# Transpose bertujuan untuk mencari kemiripan antar item dibutuhkan menjadi rows
item_similarity = cosine_similarity(ratings_std.T)
print(item_similarity)

[[ 1.          0.70668875  0.81368151 -0.79941088 -0.02539184 -0.91410609]
 [ 0.70668875  1.          0.72310153 -0.84515425 -0.5189993  -0.84337386]
 [ 0.81368151  0.72310153  1.         -0.84794611 -0.3799803  -0.80218063]
 [-0.79941088 -0.84515425 -0.84794611  1.          0.14803913  0.72374686]
 [-0.02539184 -0.5189993  -0.3799803   0.14803913  1.          0.39393939]
 [-0.91410609 -0.84337386 -0.80218063  0.72374686  0.39393939  1.        ]]

In [8]:
item_similarity_df = pd.DataFrame(item_similarity, index=ratings.columns, columns=ratings.columns)
item_similarity_df

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.706689  0.813682  -0.799411  -0.025392  -0.914106
action2    0.706689  1.000000  0.723102  -0.845154  -0.518999  -0.843374
action3    0.813682  0.723102  1.000000  -0.847946  -0.379980  -0.802181
romantic1 -0.799411 -0.845154 -0.847946   1.000000   0.148039   0.723747
romantic2 -0.025392 -0.518999 -0.379980   0.148039   1.000000   0.393939
romantic3 -0.914106 -0.843374 -0.802181   0.723747   0.393939   1.000000

In [14]:
# Built recommendations

def get_similar_movies(movie_name, user_rating):
    similar_score = item_similarity_df[movie_name] * (user_rating - 2.5)
    similar_score = similar_score.sort_values(ascending=False)
    
    return similar_score

print(get_similar_movies('action1',5))

action1      2.500000
action3      2.034204
action2      1.766722
romantic2   -0.063480
romantic1   -1.998527
romantic3   -2.285265
Name: action1, dtype: float64

In [15]:
print(get_similar_movies('romantic3',1))

action1      1.371159
action2      1.265061
action3      1.203271
romantic2   -0.590909
romantic1   -1.085620
romantic3   -1.500000
Name: romantic3, dtype: float64

In [16]:
print(get_similar_movies('romantic3',5))

romantic3    2.500000
romantic1    1.809367
romantic2    0.984848
action3     -2.005452
action2     -2.108435
action1     -2.285265
Name: romantic3, dtype: float64

In [23]:
action_lover = [('action1',5), ('romantic2',5), ('romantic3',1)]

similar_movies = pd.DataFrame()

for movie,rating in action_lover:
    similar_movies = similar_movies.append(get_similar_movies(movie, rating), ignore_index=True)
    
similar_movies.head()

    action1   action3   action2  romantic2  romantic1  romantic3
0  2.500000  2.034204  1.766722  -0.063480  -1.998527  -2.285265
1 -0.063480 -0.949951 -1.297498   2.500000   0.370098   0.984848
2  1.371159  1.203271  1.265061  -0.590909  -1.085620  -1.500000

In [24]:
similar_movies.sum().sort_values(ascending=False)

action1      3.807680
action3      2.287524
romantic2    1.845611
action2      1.734284
romantic1   -2.714050
romantic3   -2.800417
dtype: float64

## Movie Lens Dataset

In [25]:
import pandas as pd

In [27]:
ratings = pd.read_csv('data/ratings.csv')
movies = pd.read_csv('data/movies.csv')
ratings = pd.merge(movies, ratings).drop(['genres', 'timestamp'], axis=1)
ratings.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [29]:
user_ratings = ratings.pivot_table(index=['userId'], columns=['title'], values='rating')
user_ratings.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# Let's remove movies that rated from less tahn 10 users and fill remaining Nan as 0
user_ratings = user_ratings.dropna(thresh=10, axis=1).fillna(0)

In [33]:
user_ratings

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.5,3.5,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,0.0,3.5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,3.5,0.0,0.0,5.0,3.5,4.0,4.0,0.0,2.0,0.0

In [34]:
# Built similarity matrix
item_similarity_df = user_ratings.corr(method='pearson')
item_similarity_df.head(20)

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,0.063117,-0.023768,0.143482,0.011998,0.087931,0.224052,0.034223,0.009277,0.008331,...,0.017477,0.032470,0.134701,0.153158,0.101301,0.049897,0.003233,0.187953,0.062174,0.353194
(500) Days of Summer (2009),0.063117,1.000000,0.142471,0.273989,0.193960,0.148903,0.142141,0.159756,0.135486,0.200135,...,0.374515,0.178655,0.068407,0.414585,0.355723,0.252226,0.216007,0.053614,0.241092,0.125905
10 Cloverfield Lane (2016),-0.023768,0.142471,1.000000,-0.005799,0.112396,0.006139,-0.016835,0.031704,-0.024275,0.272943,...,0.242663,0.099059,-0.023477,0.272347,0.241751,0.195054,0.319371,0.177846,0.096638,0.002733
10 Things I Hate About You (1999),0.143482,0.273989,-0.005799,1.000000,0.244670,0.223481,0.211473,0.011784,0.091964,0.043383,...,0.243118,0.104858,0.132460,0.091853,0.158637,0.281934,0.050031,0.121029,0.130813,0.110612
"10,000 BC (2008)",0.011998,0.193960,0.112396,0.244670,1.000000,0.234459,0.119132,0.059187,-0.025882,0.089328,...,0.260261,0.087592,0.094913,0.184521,0.242299,0.240231,0.094773,0.088045,0.203002,0.083518
101 Dalmatians (1996),0.087931,0.148903,0.006139,0.223481,0.234459,1.000000,0.285112,0.119843,0.072399,0.029967,...,0.114968,0.077232,0.096294,0.067134,0.113224,0.184324,0.054024,0.047804,0.156932,0.078734
101 Dalmatians (One Hundred and One Dalmatians) (1961),0.224052,0.142141,-0.016835,0.211473,0.119132,0.285112,1.000000,0.134037,0.017264,-0.046277,...,0.120302,0.125816,0.049818,0.083650,0.171654,0.274260,0.077594,0.085606,0.248820,0.171118
12 Angry Men (1957),0.034223,0.159756,0.031704,0.011784,0.059187,0.119843,0.134037,1.000000,0.132979,0.058862,...,0.104518,0.028415,0.079905,0.241435,0.144652,0.122107,0.056742,-0.001708,0.074306,0.102744
12 Years a Slave (2013),0.009277,0.135486,-0.024275,0.091964,-0.025882,0.072399,0.017264,0.132979,1.000000,0.249931,...,0.024045,0.038127,0.013786,0.190366,0.104150,0.017351,0.063325,0.002528,0.037469,0.004213
127 Hours (2010),0.008331,0.200135,0.272943,0.043383,0.089328,0.029967,-0.046277,0.058862,0.249931,1.000000,...,0.223135,0.154299,0.012907,0.364841,0.198926,0.091416,0.225747,0.128638,0.153335,0.002912
13 Going on 30 (2004),0.049700,0.297152,-0.027835,0.321071,0.167098,0.188467,0.218406,-0.027672,0.092133,0.043314,...,0.103892,0.171578,0.024181,0.134812,0.108230,0.225685,0.069602,0.010007,0.139022,0.021094
"13th Warrior, The (1999)",0.176071,0.072835,-0.029983,0.215828,0.163148,0.004213,0.135894,0.084760,0.040699,0.005800,...,0.104176,0.020703,0.120064,0.166900,0.074339,0.110602,0.043481,0.193831,0.120495,0.164405
1408 (2007),0.131993,0.226574,0.181245,0.069470,0.133706,0.159777,0.227193,0.189497,0.227912,0.226178,...,0.255607,0.080251,0.085942,0.489065,0.340620,0.250310,0.155936,0.185768,0.336272,0.130120
15 Minutes (2001),0.104500,0.087240,0.017315,0.223197,0.190482,0.023682,0.150835,0.001958,0.036131,0.027306,...,0.203207,0.146579,0.202411,0.148711,0.205183,0.161740,0.052809,0.149044,0.328057,0.122113
17 Again (2009),0.047271,0.342948,-0.019197,0.231261,0.174499,0.064464,0.121410,0.049762,0.177934,0.054016,...,0.263390,0.122126,0.060692,0.194117,0.274326,0.127872,0.098426,0.044268,0.117481,0.031311
1984 (Nineteen Eighty-Four) (1984),0.184452,0.038255,0.049227,0.131719,0.076915,0.060264,0.016212,0.083904,-0.024158,0.042696,...,0.086713,0.097415,0.248409,0.044366,0.033937,0.119897,0.055617,0.348052,0.228618,0.056773
2 Days in the Valley (1996),0.092824,0.040104,-0.020711,0.084953,0.074188,-0.011668,0.012298,0.005600,0.045062,0.044682,...,0.034641,0.051850,0.132592,0.082067,0.039383,0.079517,0.019376,0.208630,0.114278,0.157638
"2 Fast 2 Furious (Fast and the Furious 2, The) (2003)",0.084066,0.241906,0.097364,0.241569,0.383957,0.226195,0.278202,0.038303,0.042812,0.206104,...,0.325163,0.234824,0.028620,0.245552,0.258282,0.392528,0.228663,0.066253,0.536836,0.067338
"20,000 Leagues Under the Sea (1954)",0.166599,0.001739,0.012478,-0.025007,0.062390,0.048827,0.077642,0.095175,-0.026507,-0.027924,...,0.060311,0.028748,0.150319,0.044810,0.005268,0.048607,-0.018962,0.015235,0.071050,0.097238
2001: A Space Odyssey (1968),0.205977,0.113616,0.099310,0.085974,0.043458,0.110844,0.102230,0.195909,0.123191,0.140796,...,0.150649,0.097214,0.257591,0.350332,0.196175,0.148409,0.099252,0.306034,0.164096,0.182865

In [35]:
def get_similar_movies(movie_name, user_rating):
    similar_score = item_similarity_df[movie_name] * (user_rating - 2.5)
    similar_score = similar_score.sort_values(ascending=False)
    
    return similar_score

In [38]:
action_lover = [('2001: A Space Odyssey (1968)',3), ('(500) Days of Summer (2009)',5), ('17 Again (2009)',5),
                ('10 Things I Hate About You (1999)',3), ('127 Hours (2010)',2)]

similar_movies = pd.DataFrame()

for movie,rating in action_lover:
    similar_movies = similar_movies.append(get_similar_movies(movie, rating), ignore_index=True)
    
similar_movies.head()
similar_movies.sum().sort_values(ascending=False)

17 Again (2009)                       3.475111
(500) Days of Summer (2009)           3.451106
Definitely, Maybe (2008)              2.292629
Friends with Benefits (2011)          2.261864
Adventureland (2009)                  2.210003
                                        ...
Forget Paris (1995)                  -0.171266
Drop Zone (1994)                     -0.172499
Madness of King George, The (1994)   -0.201419
Disclosure (1994)                    -0.213279
Clear and Present Danger (1994)      -0.269910
Length: 2269, dtype: float64